@{
    Layout = "_Layout";
    Html.RenderPartial("_HeaderNavBar");
}
        
        <section>
             @if(!String.IsNullOrEmpty((string)ViewData["Mensagem"])){
            <p class="warning">@ViewData["Mensagem"]</p>
            }
            <h2>Login</h2>
            <form id="form" action="/Cliente/FazerLogin" method="POST">
                <div>
                    <label for="email">Email</label></br>
                    <input name="email" type="email" maxlength="100" minlength="15">
                </div>
                <div>
                    <label for="senha">Senha</label></br>
                    <input name="senha" type="password" maxlength="25" minlength="5"></br>
                </div>
                <input value="Entrar" type="submit"/>
            </form>
            <a href="#">Esqueceu a senha?</a>
            <p>Caso ainda não seja cadastrado, <a href='@Url.Action("Cadastro", "Cliente")'>cadastre-se aqui</a></p>
        </section>