@{
    Layout = "_Layout";
    Html.RenderPartial("_HeaderNavBar");
}
        <section id="faq">
            <h2>Perguntas frequentes</h2>
            <div class="container">
                <div class="barra"></div>
                <ul>
                    <li onclick="FaqToggle(this)">
                        <a class="pergunta">Como posso esclarecer minhas dúvidas antes de adquirir o
                            software?</a> </br>
                        <div class="invisible1 resposta">
                            <p>Através do nosso serviço de atendimento via email, basta preencher nosso <a href="#contato">formulário</a>.</p>
                        </div>
                    </li>
                    <li onclick="FaqToggle(this)">
                        <a class="pergunta">É possível negociar os preços dos planos?</a> </br>
                        <div class="invisible1 resposta">
                            <p>A 'Agora Vai' não negocia os preços de seus planos. Com exceção do plano Personalizado,
                                que é
                                destinado a equipes maiores de 500 pessoas.</p>
                        </div>
                    </li>
                    <li onclick="FaqToggle(this)">
                        <a class="pergunta">Por que eu não consigo deixar minha opinião na sessão de
                            comentários?</a> </br>
                        <div class="invisible1 resposta">
                            <p>Nós da Agora Vai, valorizamos muito a opinião de nossos clientes. Por isso, para que seu
                                comentário possa ser submetido a nós, é preciso ter <a href="login.html" href="_blank">entrado
                                    em sua conta</a> no site e ter realizado uma compra. </br>
                                Caso, mesmo sem ter realizado uma compra, esclarecer sua dúvida, use a nossa sessão de
                                <a href="#contato">contato</a>!</p>
                        </div>
                    </li>
                    <li onclick="FaqToggle(this)">
                        <a class="pergunta">Concluí o pedido, e agora?</a> </br>
                        <div class="invisible1 resposta">
                            <p>Após concluído o processo de pedido, nós somos notificados via email. Uma vez
                                notificados, processaremos sua requisição e responderemos dentro do período de tempo
                                especificado em cada plano com informações sobre o método de pagamento e a instalação
                                do software. </p>
                        </div>
                    </li>
                    <li onclick="FaqToggle(this)">
                        <a class="pergunta">Por que não consigo acessar a página para fazer o
                            pedido?</a> </br>
                        <div class="invisible1 resposta">
                            <p>Para realizar qualquer pedido, é preciso, antes, estar cadastrado. Essa é uma medida que
                                visa a segurança tanto do cliente quanto da AgoraVai.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <p class="obs"><strong class="asterisco">*</strong>Caso a sua dúvida ainda não tenha sido esclarecida, por
                favor, utilize o nosso <a href="#contato">formulário</a>
                para que possamos ajudar.</p>
        </section>
        <!--CASO O USUÁRIO NÃO ESTEJA LOGADO OU NÃO TENHA FEITO UMA COMPRA, NÃO SERÁ POSSÍVEL DEIXAR UM COMENTÁRIO-->
        <section id="comentarios">
            <div class="container">
                <!--TODO: PROGRAMAR ÁREA NA QUAL OS COMENTÁRIOS APAREÇAM-->
                <h2>Comentários</h2>
                <div class="verComentarios">
                    <div>
                        <p class="informacoes">Sundar Pichai</p>
                        <img src="~/Iconografia/pessoa2.png" alt="Foto de perfil do autor do comentário">
                        <p class="textoComentario">Excelente, cortei custos da minha empresa com home office apenas com
                            este software. </p>
                    </div>
                    <div>
                        <p class="informacoes">Sundar Pichai</p>
                        <img src="~/Iconografia/pessoa2.png" alt="Foto de perfil do autor do comentário">
                        <p class="textoComentario">Excelente, cortei custos da minha empresa com home office apenas com
                            este software. </p>
                    </div>
                    <div>
                        <p class="informacoes">Sundar Pichai</p>
                        <img src="~/Iconografia/pessoa2.png" alt="Foto de perfil do autor do comentário">
                        <p class="textoComentario">Excelente, cortei custos da minha empresa com home office apenas com
                            este software. </p>
                    </div>
                    <div>
                        <p class="informacoes">Sundar Pichai</p>
                        <img src="~/Iconografia/pessoa2.png" alt="Foto de perfil do autor do comentário">
                        <p class="textoComentario">Excelente, cortei custos da minha empresa com home office apenas com
                            este software. </p>
                    </div>
                    <form id="commentForm" action="comentario.php">
                        <h3>Deixe o seu: </h3>
                        <textarea name="comentario" form="commentForm"></textarea></br>
                        <input name="enviar" type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </section>
        <section id="contato">
            <h2>Contato</h2>
            <form id="formulario" action="enviarEmail">
                <div class="container">
                    <div>
                        <label for="primeiroNome">Primeiro nome</label></br>
                        <input name="primeiroNome" type="text" maxlength="25" minlength="2"></br>
                        <label for="empresa">Nome da empresa</label></br>
                        <input name="empresa" type="text" maxlength="75" minlength="4"></br>
                        <label for="telefone">Telefone para contato</label></br>
                        <input name="telefone" type="tel" maxlength="14" minlength="10"></br>
                        <label for="assunto">Assunto do email</label></br>
                        <input name="assunto" type="text" maxlength="100" minlength="5"></br>
                        <label for="mensagem">Mensagem</label></br>
                        <textarea name="mensagem" form="formulario"></textarea></br>
                        <input name="enviar" value="Enviar" type="submit">
                    </div>
                    <div>
                        <label for="sobrenome">Sobrenome</label></br>
                        <input name="sobrenome" type="text" maxlength="75" minlength="4"></br>
                        <label for="segmento">Segmento da empresa</label></br>
                        <select>
                            <option value="segmento1">segmento1</option>
                            <option value="segmento2">segmento2</option>
                            <option value="segmento3">segmento3</option>
                            <option value="segmento4">segmento4</option>
                        </select></br>
                        <label for="email">Email</label></br>
                        <input name="email" type="email" maxlength="100" minlength="15"></br>
                    </div>
                </div>
            </form>
        </section>