@{
    Layout = "_Layout";
    Html.RenderPartial("_HeaderNavBar");
}
        <section id="historia">
            <h2>De onde viemos</h2>
            <div class="container">
                <!--TODO: ESCREVER TEXTOS-->
                <img src="~/Iconografia/owners.png" alt="Tsuka e Cesar, fundadores da AgoraVai">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tortor feugiat, lobortis mi
                    eget, posuere eros. Donec eget tortor ac velit egestas cursus. Phasellus aliquet ullamcorper
                    lacinia. Praesent eu dignissim quam. Aenean tincidunt quis felis eu pellentesque. In hac
                    habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Nulla leo libero, fringilla ac accumsan nec, feugiat ac dui.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tortor feugiat, lobortis mi
                    eget, posuere eros. Donec eget tortor ac velit egestas cursus. Phasellus aliquet ullamcorper
                    lacinia. Praesent eu dignissim quam. Aenean tincidunt quis felis eu pellentesque. In hac
                    habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Nulla leo libero, fringilla ac accumsan nec, feugiat ac dui.</p>

            </div>
        </section>
        <section id="futuro">
            <h2>Para onde vamos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tortor feugiat, lobortis mi
                eget, posuere eros. Donec eget tortor ac velit egestas cursus. Phasellus aliquet ullamcorper
                lacinia. Praesent eu dignissim quam. Aenean tincidunt quis felis eu pellentesque. In hac
                habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia Curae; Nulla leo libero, fringilla ac accumsan nec, feugiat ac dui.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tortor feugiat, lobortis mi
                eget, posuere eros. Donec eget tortor ac velit egestas cursus. Phasellus aliquet ullamcorper
                lacinia. Praesent eu dignissim quam. Aenean tincidunt quis felis eu pellentesque. In hac
                habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia Curae; Nulla leo libero, fringilla ac accumsan nec, feugiat ac dui.</p>
        </section>
        <section id="quem">
            <h2>Quem vai?</h2>
            <div class="container">
                <img src="~/Iconografia/pessoa1.png" alt="Homem sorrindo em fundo cinza">
                <img src="~/Iconografia/cesar.png" alt="Cesar Sportore, um dos fundadores da Agora Vai">
                <img src="~/Iconografia/tsuka.png" alt="Carlos Tsukamoto, um dos fundadores da Agora Vai">
            </div>
        </section>
        <section id="softwares">
            <h2>Outros softwares da Agora Vai</h2>
            <!--Container-->
            <div class="slideshow-container">
                <!--Noticias-->
                <div class="mySlides fade">
                    <div class="numbertext">1 / 3</div>
                    <a href="https://www1.folha.uol.com.br/mpme/2019/02/softwares-auxiliam-pequenos-empresarios-a-gerir-contas.shtml"
                        target="_blank"><img src="~/Iconografia/noticia1.png"></a>
                    <div class="text">Ponto digital auxilia pequenos empresários a gerir contas</div>
                </div>
                <div class="mySlides fade">
                    <div class="numbertext">2 / 3</div>
                    <a href="https://www.segs.com.br/info-ti/156838-5-razoes-para-utilizar-um-software-de-gestao-no-franchising"
                        target="_blank"><img src="~/Iconografia/noticia2.png"></a>
                    <div class="text">5 razões para utilizaro Ponto digital no franchising</div>
                </div>
                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <a href="https://cio.com.br/ipaas-e-chave-para-o-sucesso-da-transformacao-digital/" target="_blank"><img
                            src="~/Iconografia/noticia3.png"></a>
                    <div class="text">Ponto Digital é chave para o sucesso da transformação digital</div>
                </div>
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </section>